* {
  box-sizing: border-box;
}

:root {
  --cursor-retro-default: url('/cursors/retro-default.svg') 1 1, auto;
  --cursor-retro-pointer: url('/cursors/retro-pointer.svg') 8 2, pointer;
  --cursor-retro-text: url('/cursors/retro-text.svg') 16 16, text;
  --cursor-retro-move: url('/cursors/retro-move.svg') 16 16, move;
  --cursor-retro-nwse: url('/cursors/retro-nwse.svg') 16 16, nwse-resize;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Chicago', 'Charcoal', 'Geneva', 'MS Sans Serif', 'Tahoma', sans-serif;
  background: #181818;
  image-rendering: crisp-edges;
}

body,
body * {
  cursor: var(--cursor-retro-default);
}

a,
button,
[role='button'],
.resize-handle {
  cursor: var(--cursor-retro-pointer);
}

input,
textarea,
select,
[contenteditable='true'] {
  cursor: var(--cursor-retro-text);
}

.window-titlebar {
  cursor: var(--cursor-retro-move);
}

.resize-handle {
  cursor: var(--cursor-retro-nwse);
}
